.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  padding: 20px 30px 20px 30px;
  color: #fff;
  text-align: left;
}

.App-title {
  font-size: 3.5em;
}

.App-title-white {
  font-family: Anton;
  color: #fff;
}

.App-title-yellow {
  font-family: "Gloria Hallelujah";
  color: #ff0;
}

.App-top-menu {
  float: right;
}

.App-top-menu-item {
  margin: 14px 0px 0px 30px;
}

.App-top-menu-item a.btn-yellow {
  width: 150px;
  background-color: #ff0 !important;
  border: 1px solid #ff0;
}
