.HomepageContents-top {
	background-image: url('../images/trustbg.png');
	background-size: cover;
	height: 750px;
	padding: 50px;
}

.HomepageContents-explaining {
	padding: 25px;
}

.HomepageContents-explaining-item {
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 224px 144px;
	text-align: justify;
	padding: 10px 10px 10px 234px !important;
}

.HomepageContents-explaining-item-01 {
	background-image: url('../images/padlock01.jpg');
	background-size: 150px 144px !important;
	background-position: 37px 0px;
}

.HomepageContents-explaining-item-02 {
	background-image: url('../images/digitalcert01.png');
	background-size: 35%;
	background-position: 4% 40%;
}

.HomepageContents-explaining-item-03 {
	background-image: url('../images/keys01.jpg');
	background-size: 25%;
	background-position: 8% 40%;
}

.HomepageContents-explaining-item-04 {
	background-image: url('../images/crypto01.png');
}

.HomepageContents-business-models {
	background-color: #ffcc66;
	padding: 25px;
}

