@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
  font-size: 12px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	float: left;
	list-style: none;
}

div.title-destak {
	color: #78a0dc !important;
	font-weight: bold;
	font-size: 2em;
}

.well {
	opacity: 0.9 !important;
	filter: alpha(opacity=90) !important;
}

.btn {
	opacity: 100.0 !important;
	filter: alpha(opacity=100) !important;
}

.standard-frame {
	height: 150px;
	border: 3px solid #ccc;
	margin: 25px;
	padding: 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.justified {
	text-align: justify;
}